# Virtual environment
env/

# SQLite database
db.sqlite3

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# PyCache (кеші Python)
**__pycache__/

# Logs
*.log

# Media uploads (користувацькі файли)
media/

# Mac OS system files
.DS_Store
