# Virtual environment
env/

# SQLite database
db.sqlite3

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# PyCache
**__pycache__/

# Logs
*.log

# Media uploads
media/

# Mac OS system files
.DS_Store

#Cache files
cache

#json files
*.json

.env
.docx

staticfiles/

go_ride_app/