# Virtual environment
env/

# SQLite database
db.sqlite3

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# PyCache
**__pycache__/

# Logs
*.log

# Media uploads
media/

# Mac OS system files
.DS_Store

#Cache files
cache

#json files
*.json

.env
.docx

staticfiles/

#Flutter
go_ride_app/build/ go_ride_app/.dart_tool/ go_ride_app/.flutter-plugins go_ride_app/.flutter-plugins-dependencies go_ride_app/.idea/ go_ride_app/*.iml go_ride_app/.packages go_ride_app/.metadata go_ride_app/flutter_export_environment.sh