{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>
        {% if subject == "Rent" %}Rent a Vehicle{% elif subject == "Subscription" %}Buy a Subscription{% else %}Top Up Balance{% endif %}
    </h2>

    {% if subject == "Rent" and vehicle %}
    <div class="vehicle-details">
        <img src="{% static 'images/'|add:vehicle.type|lower|add:'.jpg' %}" class="img-fluid" alt="{{ vehicle.name }}">
        <p>Vehicle Type: {{ vehicle.type }}</p>
        <p>Price per Hour: €{{ vehicle.price_per_hour }}</p>
    </div>
    <form method="post" action="{% url 'booking:process_rent' %}">
        {% csrf_token %}
        <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
        <div class="form-group">
            <label for="hours">Hours to Rent:</label>
            <input type="number" id="hours" name="hours" class="form-control" required>
        </div>
    {% elif subject == "Subscription"%}
    <form method="post" action="{% url 'booking:process_subscription' %}">
        {% csrf_token %}
        <p>{{plan}}</p>
        <p>Subscription Price: €{{ plan.price }}</p>
    {% elif subject == "Balance" %}
    <form method="post" action="{% url 'booking:process_topup' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="amount">Amount to Top Up:</label>
            <input type="number" id="amount" name="amount" class="form-control" required>
        </div>
    {% endif %}

        <div class="form-group">
            <label for="payment_type">Payment Type:</label>
            <select name="payment_type" class="form-control" required>
                <option value="Stripe">Stripe</option>
                <option value="Paypal">PayPal</option>
                <option value="AppBalance">App Balance</option>
                <option value="Subscription">Subscription</option>
            </select>
        </div>

        <div class="form-group">
            <label for="voucher">Voucher Code:</label>
            <input type="text" id="voucher" name="voucher" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Proceed to Payment</button>
    </form>
</div>
{% endblock %}
