{% extends "base.html" %}
{% load static %}

{% block title %} Available Transport {% endblock %}

{% block content %}
<h2>Available Transport</h2>
<form method="get" class="filter-form">
    <div class="filter-item">
        <label for="type">Type:</label>
        <select name="type">
            <option value="">All</option>
            <option value="E-Bike">E-Bike</option>
            <option value="E-Scooter">E-Scooter</option>
            <option value="Bike">Bike</option>
        </select>
    </div>

    <div class="filter-item">
        <label for="min_battery">Minimum Battery:</label>
        <input type="number" name="min_battery" min="0" max="100">
    </div>

    <button type="submit" class="filter-button">Filter</button>
</form>

<div id="map"></div>
<h1>Stations: {{ stations|length }} </h1>
{{ stations|json_script:"EV_stations_json" }}
<script>
    var map = L.map('map').setView([53.33833948672929, -6.2990109445410996], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let stations = JSON.parse(document.getElementById('EV_stations_json').textContent);
    console.log(stations);
    stations.forEach(station => {
        L.marker([station.latitude, station.longitude]).bindPopup(`<b>${station.name}</b><br>${station.address}`).openPopup().addTo(map);
       // .addTo(map);
        
    });
</script>

<div class="vehicle-list">
    {% for vehicle in vehicles %}
    <div class="vehicle-card">
        <div class="vehicle-image">
            {% if vehicle.type == "E-Bike" %}
            <img src="{% static 'images/e-bike.jpg' %}" alt="E-Bike image" />
        {% elif vehicle.type == "E-Scooter" %}
            <img src="{% static 'images/e-scooter.jpg' %}" alt="E-Scooter image" />
        {% elif vehicle.type == "Bike" %}
            <img src="{% static 'images/bike.webp' %}" alt="Bike image" />
        {% else %}
            <img src="{% static 'placeholder.jpg' %}" alt="Default image" />
        {% endif %}
        </div>
        <div class="vehicle-details">
            <h3>{{ vehicle.type }}</h3>
            {% if vehicle.battery_percentage is not None %}
                <p>Battery: {{ vehicle.battery_percentage }}%</p>
            {% endif %}
            <p>Status: {% if vehicle.status %}Available{% else %}Not Available{% endif %}</p>
            <a href="https://www.google.com/maps?q={{ vehicle.latitude }},{{ vehicle.longitude }}" target="_blank">Show on Map</a>
        </div>
        <div class="vehicle-price">
            <p>Price per hour: €{{ vehicle.price_per_hour }}</p>
            <button class="rent-button">Rent</button>
        </div>
    </div>
    {% empty %}
    <p>No vehicles found</p>
    {% endfor %}
</div>
{% endblock %}
