{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Admin chat details" %} {% endblock title %}

{% block content %}
<h2>{% trans "Chat with" %} {{ chat.user.username }}</h2>

<div>
    {% for message in messages %}
        <p><strong>{{ message.sender.username }}:</strong> {{ message.content }} <em>{{ message.created_at }}</em></p>
    {% endfor %}
</div>

<h3>{% trans "Reply to the chat:" %}</h3>
<form method="post">
    {% csrf_token %}
    <textarea name="message" rows="4" cols="50"></textarea><br>
    <button type="submit">{% trans "Send Reply" %}</button>
</form>

<a href="{% url 'support:admin_chat_list' %}">{% trans "Back to chat list" %}</a>

{% endblock %}
