{% extends "auth_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock %}
{% block content %}
<div class="container p-4">
    <h1 class="my_title text-center">Change Your Password</h1>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
            <div class="w-100 my_custom_div p-4 rounded">
                <h2 class="my_title text-center">Secure Your Account</h2>
                <p class="text-center">Enter your current password and choose a new one.</p>
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <button type="submit" class="btn btn-secondary w-100">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
