{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Subscription Successful" %} {% endblock %}

{% block content %}
<div class="container p-4">
    <div class="text-center">
        <h2 class="text-center">{% trans "Subscription Successful!" %}</h2>
        <p class="text-center">{% trans "Your subscription has been activated." %}</p>
        <a href="{% url 'subscriptions:subscription_plans' %}" class="btn btn-success">{% trans "Return to Plans" %}</a>
    </div>
</div>
{% endblock %}
