
<div id="map"></div>
{{stations|json_script:"EV_stations_json"}}
<script>
    var map = L.map('map').setView([53.33833948672929, -6.2990109445410996], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let stations = JSON.parse(document.getElementById('EV_stations_json').textContent);
    stations.forEach(station=>{
        L.marker([station.latitude,station.longitude])
        .addTo(map)
        .bindPopup(`🚲 Доступно місць: ${station.max_spaces}`);
    })
</script>