{% load static %}
{% load i18n %}
{% load cache %}
{% cache 3600 footer_page %}
<footer class="footer py-4">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.cmsfly.com/67c6c79f47be450012e04116/images/photo169467862515672a1a050ecfd-18xAH.jpeg" alt="Bike Rentals" class="img-fluid">
            </div>
            <div class="col-md-8 text-end mt-4 mt-md-0">
                <a href="{% url 'main:about' %}">{% trans "About" %}</a>
                <a href="#">{% trans "Careers" %}</a>
                <a href="{% url 'get_direction:map' %}">{% trans "Locations" %}</a>
            </div>
        </div>
    </div>
</footer>
{% endcache %}