{% load static %}
{% load i18n %}
<header class="p-4 bg-custom">
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:home' %}">
                <img src="{% static "/images/logo.png" %}" alt="GoRide" width="120"> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:home' %}">{% trans "Home" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans "About" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'find_transport:find_transport' %}">{% trans "Rentals" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'subscriptions:subscription_plans' %}">{% trans "Plans" %}</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <form action="{% url 'set_language' %}" method="POST" class="d-flex align-items-center">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language" class="form-select me-3 mt-0" onchange="this.form.submit()">
                                {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }}
                                </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle w-100" type="button" id="userMenu" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                            <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">{% trans "Profile" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Change Password" %}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form id="logout-form" method="post" action="{% url 'logout' %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item text-danger">{% trans "Logout" %}</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-2">{% trans "Login" %}</a>
                    <a href="{% url 'accounts:signup' %}" class="btn btn-light">{% trans "Sign Up" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>